button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    background-color: #fff;
    color: #000000;
}

body
{
    background-color: rgb(255, 255, 255);
    margin: 0;
}
#bajo{
    position: absolute;
    z-index: auto;
    left: 300px;
    top : 10px;
}

.btn-bass{
    position: absolute;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}